<div class="container">
	<div class="content">
		<div class="row">
			<div class="login-form">
			<h2>Sign Up!</h2>
			<fieldset>
			<%= form_for :user, url: '/users' do |f| %>

				Name: <%= f.text_field :name, class: "clearfix", placeholder: "name" %>
				Email: <%= f.text_field :email, class: "clearfix", placeholder: "e-mail" %>
				Password: <%= f.password_field :password, class: "clearfix", placeholder: "password" %>
				Password Confirmation: <%= f.password_field :password_confirmation, class: "clearfix", placeholder: "confirm password" %>
				<%= f.submit "Submit", class: "btn btn-default" %>
			<% end %>
			</fieldset>
			</div>
	 	</div>
	</div>
</div>